html, body
{
   width: 100%;
   margin: 0;
   text-align: center;
}

table
{
   width: 95%;
   margin: auto;
   padding: 0;
   color: #003366;
   border-collapse: collapse;
}

td
{
   margin: 0;
   text-align: left;
}

th
{
   margin: 0;
   text-align: left;
   vertical-align: top;
   border: thin solid black;
   border-left: none;
   border-right: none;
}

h1
{
   margin: auto;
}

h3
{
   background: #6699cc;
   color: white;
   margin: auto;
   width: 95%;
   border: thin solid black;
}

.countdown
{
}
